<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- /my-survey/create -->
<!-- Crate My survey Content -->
<main class="containter">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1>
                <input type="text" id="title" placeholder="Survey Title">
            </h1>

            <!-- Create Date and Expire Date-->
            <div>
                <h6><%= userSurvey.CreateDate %></h6>
                <input type="text" id="exipireDate" placeholder="Expire Date">
            </div>
            <div>
                <form method="POST" autocomplete="off">
                    <input type="text" name="exipireDate" id="exipireDate" placeholder="Expire Date">

                    <!-- user survey content-->
                    
                    <div id="qContainer"></div>

                    <div class="d-flex btn-container">
                        <select name="add" id="add" size="3">
                            <option value="text" id="addTextInput">Text Answer</option>
                            <option value="oc" id="addOCInput">One Choice Answer</option>
                            <option value="mc" id="addMCInput">Multiple Choice Answer</option>
                        </select>
                        <button class="btn rounded-circle" id="addComponent">
                            <i class="fas fa-plus" id="plus"></i><i class="fas fa-sort-down" id="down"></i>
                        </button>
                    </div>
                   

                    <button class="btn btn-outline-success" type="submit">
                        <i class="fas fa-edit"></i> Update</button>

                    <a href="/my-survey" class="btn btn-outline-warning">
                        <i class="fas fa-undo"></i> Cancel</a>
                </form>
            </div>
        </div>
    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>