<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- /my-survey/edit -->
<!-- Edit My survey Content -->
<main class="containter">
    <div class="row">
        <div class="editSurveyContainer">

            <div class="editContainer">
                <form method="POST" autocomplete="off">

                    <h1>
                        <input type="text" id="title" name="surveyTitle" value="<%= userSurvey.Title %>">
                    </h1>

                    <!-- Create Date and Expire Date-->
                    <div>
                        <h6><%= userSurvey.CreateDate.getUTCMonth()+1 +"/" + userSurvey.CreateDate.getUTCDate() +"/" + userSurvey.CreateDate.getUTCFullYear()%> - <%= userSurvey.ExpireDate.getUTCMonth()+1 +"/" + userSurvey.ExpireDate.getUTCDate() +"/" + userSurvey.ExpireDate.getUTCFullYear() %> </h6>
                        
                    </div>

                    <!-- user survey content-->
                    <% for (const [key, value] of Object.entries(userSurvey.Questions)) {%>

                        <!-- user survey text field -->
                        <% if (key.includes("textQuestion")) {%>
                        <div class="edit-test-question-container">
                            <input type="text" class="edit-text-question" id="textField<%= key %>" name="<%= key %>" value="<%= value %> ">
                        </div>
    
                        <!-- user survey one choice field -->
                        <% } else if ( key.includes("ocQuestion")) {%>
                            <div class="edit-oCquestion-container">
                                <input type="text" class="edit-oCquestion" id="ocField<%= key %>" name="<%= key %>" value="<%= value %> ">
                        <% } else if (key.includes("ocOption")) {%>
                            <% for (let i = 0; i < value.length; i++) {%>
                                <div class="edit-option-container">
                                    <label>Option<%= i+1 %>: </label>
                                    <input type="text" class="edit-oCquestion-options" id="ocOptField<%= key %>" name="<%= key %>" value="<%= value[i] %> ">
                                </div>
                                <br>
                            <% } %>
                            </div>
    
                        <!-- user survey multiple choice field -->
                        <% } else if (key.includes("mcQuestion")) {%>
                            <div class="edit-test-question-container">
                                <input type="text" class="edit-mCquestion" id="mcField<%= key %>" name="<%= key %>" value="<%= value %> ">
                        <% } else if (key.includes("mcOption")) {%>
                                <% for (let i = 0; i < value.length; i++) {%>
                                    <div class="edit-option-container">
                                        <label>Option<%= i+1 %>: </label>
                                        <input type="text" class="edit-mCquestion-container" id="mcOptField<%= key %>" name="<%= key %>" value="<%= value[i] %> ">
                                    </div>
                                    <br>
                                <% } %>
                            </div>
                        <% } %> 
                        
                    <% } %>

                    <div class="btnUpdate-container">
                        <ul class="btnOptUl">
                            <li class="liOpt" id="updateOpt">
                                <button class="btnCreateSurvey" type="submit">
                                    <i class="fas fa-edit"></i></button>
                                </i>
                                <span class="tooltiptext">Update Survey</span>
                            </li>
                            <li class="liOpt" id="cancelOpt">
                                <a href="/my-survey" class="btnCancelSurvey">
                                    <i class="fas fa-undo"></i></a>
                                <span class="tooltiptext">Cancel</span>
                            </li>
                            <li class="liOpt" id="deletOpt">
                                <a href="/my-survey/delete/<%= userSurvey._id %>" class="btnCancelSurvey">
                                    <i class="fas fa-trash-alt"></i></a>
                                <span class="tooltiptext">Delete Survey</span>
                            </li>
                        </ul>
                    </div>

                </form>
            </div>
        </div>
    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>