<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- /my-survey/view -->
<!-- View My survey Content -->
<main class="containter">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= userSurvey.Title %></h1>

            <!-- Create Date and Expire Date-->
            <div>
                <h6><%= userSurvey.CreateDate %> / <%= userSurvey.ExpireDate %> </h6>
            </div>
            <div>
                <form action="">

                    <!-- user survey content-->
                    <% for(int c = 0; c < userSurvey.length; c++) {%>

                    <!-- user survey text field -->
                    <% if (userSurvey.Questions.Type == "text") {%>
                    <fieldset class="form-group">
                        <label for="textField<%= c %>"><%= userSurvey.Questions.Question %></label>
                        <input type="text" class="form-control" id="textField<%= c %>" name="textField<%= c %>"
                            readonly>
                    </fieldset>

                    <!-- user survey one choice field -->
                    <% } else if (userSurvey.Questions.Type == "OC") {%>
                    <fieldset class="form-group">
                        <label for="radioButtonField<%= c %>"><%= userSurvey.Questions.Question %></label>
                        <% for (int i == 0; i < userSurvey.Questions.Options.length; i++) {%>
                        <input type="radio" class="form-control" id="<%= userSurvey.Questions.Options[i] %>"
                            name="radioButtonField<%= c %>" value="<%= userSurvey.Questions.Options[i] %>" readonly>
                        <label for="<%= userSurvey.Questions.Options %>"><%= userSurvey.Questions.Options[i] %> </label>
                        <br>
                        <% } %>
                    </fieldset>

                    <!-- user survey multiple choice field -->
                    <% } else if (userSurvey.Questions.Type == "MC") {%>
                    <fieldset class="form-group">
                        <label for="checkBoxField<%= c %> "><%= userSurvey.Questions.Question %></label>
                        <%  for (int i == 0; i < userSurvey.Questions.Options.length; i++) {%>
                        <input type="checkbox" class="form-control" id="<%= userSurvey.Questions.Options[i] %>"
                            name="<%= userSurvey.Questions.Options[i] %>" value="<%= userSurvey.Questions.Options[i] %>"
                            readonly>
                        <label
                            for="<%= userSurvey.Questions.Options[i] %>"><%= userSurvey.Questions.Options[i] %></label>
                        <br>
                        <% } %>
                    </fieldset>
                    <% } %>
                    <% } %>

                </form>
            </div>
        </div>
    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>